yuimarl-db-postgres-setup/xml/yuimarl.dtd

<!ELEMENT dataset (
    YM_EVENT*,
    YM_EVENTSET*,
    YM_EVENTVIEW*,
    YM_EVENTVIEWSET*,
    YM_EVENTVIEW_SPREAD*,
    YM_GENERATED_ID*,
    YM_GOODS_CATEGORY*,
    YM_ORG_CATEGORY*,
    YM_PARTY*,
    YM_PARTY_RELATION*,
    YM_PREFECTURE*,
    YM_USER*)>

<!ELEMENT YM_EVENT EMPTY>
<!ATTLIST YM_EVENT
    EVENT_NO CDATA #REQUIRED
    EVENTSET_NO CDATA #IMPLIED
    EVENT_CLASS CDATA #IMPLIED
    EVENT_TYPE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TERM_FROM CDATA #IMPLIED
    TERM_TO CDATA #IMPLIED
    START_TIME CDATA #IMPLIED
    END_TIME CDATA #IMPLIED
    PLACE CDATA #IMPLIED
    AFFILIATE CDATA #IMPLIED
    SUNDAY CDATA #IMPLIED
    MONDAY CDATA #IMPLIED
    TUESDAY CDATA #IMPLIED
    WEDNESDAY CDATA #IMPLIED
    THURSDAY CDATA #IMPLIED
    FRIDAY CDATA #IMPLIED
    SATURDAY CDATA #IMPLIED
    HOLIDAY CDATA #IMPLIED
    EXCEPT_MOVE CDATA #IMPLIED
    INVALID_MOVE CDATA #IMPLIED
    INCLUDE_DAYS CDATA #IMPLIED
    EXCLUDE_DAYS CDATA #IMPLIED
    OPEN_OTHERS CDATA #IMPLIED
    COLOR CDATA #IMPLIED
    MEMO CDATA #IMPLIED
    REP_INTERVAL CDATA #IMPLIED
    REP_DAY CDATA #IMPLIED
    REP_WEEK CDATA #IMPLIED
    REP_MONTH CDATA #IMPLIED
    LABEL CDATA #IMPLIED
    LABEL_START CDATA #IMPLIED
    DAY_COUNT CDATA #IMPLIED
    PRE_TASK CDATA #IMPLIED
    PROGRESS CDATA #IMPLIED
    FINISHED CDATA #IMPLIED
    DELAY_MAIL_S CDATA #IMPLIED
    DELAY_MAIL_E CDATA #IMPLIED
    NOTICE_MAILS CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT YM_EVENTSET EMPTY>
<!ATTLIST YM_EVENTSET
    EVENTSET_NO CDATA #REQUIRED
    EVENTSET_TYPE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    TERM_FROM CDATA #IMPLIED
    TERM_TO CDATA #IMPLIED
    CLIENT CDATA #IMPLIED
    PRODUCER CDATA #IMPLIED
    SUNDAY CDATA #IMPLIED
    SATURDAY CDATA #IMPLIED
    HOLIDAY CDATA #IMPLIED
    INCLUDE_DAYS CDATA #IMPLIED
    EXCLUDE_DAYS CDATA #IMPLIED
    MEMO CDATA #IMPLIED
    UPDATE_AUTH CDATA #IMPLIED
    OWNER CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT YM_EVENTVIEW EMPTY>
<!ATTLIST YM_EVENTVIEW
    EVENTVIEW_NO CDATA #REQUIRED
    OWNER CDATA #IMPLIED
    NAME CDATA #IMPLIED
    SEQ CDATA #IMPLIED
    JAPANESE_HOLIDAY CDATA #IMPLIED
    SPREAD_YEARS CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT YM_EVENTVIEWSET EMPTY>
<!ATTLIST YM_EVENTVIEWSET
    EVENTVIEW CDATA #REQUIRED
    EVENTSET CDATA #REQUIRED
    AUTH_OWNER CDATA #IMPLIED
    AUTH_UPDATE CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT YM_EVENTVIEW_SPREAD EMPTY>
<!ATTLIST YM_EVENTVIEW_SPREAD
    EVENTVIEW_NO CDATA #REQUIRED
    SPREAD_DATE CDATA #REQUIRED
    EVENTSET_NO CDATA #REQUIRED
    EVENT_NO CDATA #REQUIRED
    START_TIME CDATA #IMPLIED
    END_TIME CDATA #IMPLIED
    EVENT_CLASS CDATA #IMPLIED
    EVENT_TYPE CDATA #IMPLIED
    NAME CDATA #IMPLIED
    EVENT_TERM CDATA #IMPLIED
    COLOR CDATA #IMPLIED
>

<!ELEMENT YM_GENERATED_ID EMPTY>
<!ATTLIST YM_GENERATED_ID
    KEY_NAME CDATA #REQUIRED
    VALUE CDATA #REQUIRED
>

<!ELEMENT YM_GOODS_CATEGORY EMPTY>
<!ATTLIST YM_GOODS_CATEGORY
    CATEGORY_NO CDATA #REQUIRED
    NAME CDATA #IMPLIED
    NAME_KANA CDATA #IMPLIED
    PARENT_CATEGORY CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT YM_ORG_CATEGORY EMPTY>
<!ATTLIST YM_ORG_CATEGORY
    CATEGORY_NO CDATA #REQUIRED
    NAME CDATA #REQUIRED
    PARTY_TYPE CDATA #REQUIRED
    DEL_FLG CDATA #IMPLIED
>

<!ELEMENT YM_PARTY EMPTY>
<!ATTLIST YM_PARTY
    PARTY_NO CDATA #REQUIRED
    PARTY_TYPE CDATA #REQUIRED
    NAME CDATA #IMPLIED
    NAME_KANA CDATA #IMPLIED
    ZIP_CODE CDATA #IMPLIED
    PREFECTURE CDATA #IMPLIED
    CITY CDATA #IMPLIED
    ADDRESS1 CDATA #IMPLIED
    ADDRESS2 CDATA #IMPLIED
    PHONE_NO CDATA #IMPLIED
    FAX_NO CDATA #IMPLIED
    MAIL_ADDRESS1 CDATA #IMPLIED
    MAIL_ADDRESS2 CDATA #IMPLIED
    START_DATE CDATA #IMPLIED
    END_DATE CDATA #IMPLIED
    MEMO CDATA #IMPLIED
    LAST_NAME CDATA #IMPLIED
    FIRST_NAME CDATA #IMPLIED
    LAST_NAME_KANA CDATA #IMPLIED
    FIRST_NAME_KANA CDATA #IMPLIED
    GENDER CDATA #IMPLIED
    CELL_PHONE_NUMBER CDATA #IMPLIED
    CATEGORY CDATA #IMPLIED
    PERSON_COUNT CDATA #IMPLIED
    URL CDATA #IMPLIED
    CAPITAL CDATA #IMPLIED
    ACCOUNT_MONTH CDATA #IMPLIED
    PARTNER_FLG CDATA #IMPLIED
    BANK CDATA #IMPLIED
    BRANCH CDATA #IMPLIED
    ACCOUNT_TYPE CDATA #IMPLIED
    ACCOUNT CDATA #IMPLIED
    CUTOFF CDATA #IMPLIED
    CATEGORY_NO CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT YM_PARTY_RELATION EMPTY>
<!ATTLIST YM_PARTY_RELATION
    RELATION_NO CDATA #REQUIRED
    RELATION_TYPE CDATA #IMPLIED
    PARTY1 CDATA #IMPLIED
    ROLE1 CDATA #IMPLIED
    PARTY2 CDATA #IMPLIED
    ROLE2 CDATA #IMPLIED
    TERM_FROM CDATA #IMPLIED
    TERM_TO CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

<!ELEMENT YM_PREFECTURE EMPTY>
<!ATTLIST YM_PREFECTURE
    PREFECTURE_NO CDATA #REQUIRED
    NAME CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
>

<!ELEMENT YM_USER EMPTY>
<!ATTLIST YM_USER
    USER_NO CDATA #REQUIRED
    USER_ID CDATA #IMPLIED
    PASSWORD CDATA #REQUIRED
    PARTY CDATA #IMPLIED
    ACCOUNT_GROUP CDATA #IMPLIED
    DEL_FLG CDATA #IMPLIED
    REGIST_USER CDATA #IMPLIED
    REGIST_TIME CDATA #IMPLIED
    UPDATE_USER CDATA #IMPLIED
    UPDATE_TIME CDATA #IMPLIED
    AUTH_MAP CDATA #IMPLIED
    AUTH_REGIST_USER CDATA #IMPLIED
    AUTH_REGIST_TIME CDATA #IMPLIED
    AUTH_UPDATE_USER CDATA #IMPLIED
    AUTH_UPDATE_TIME CDATA #IMPLIED
    VERSION_NO CDATA #IMPLIED
>

